<p-menu [model]="items" class="flex justify-center" styleClass="w-full md:w-60">
  <ng-template #start>
    <div class="row align-items-center" style="padding-left: 20px; padding-right: 20px; padding-top: 20px; ">
      <h5 style="padding:10px;">
        BCMS
      </h5>
    </div>
  </ng-template>

  <ng-template #submenuheader let-item>
    <span class="text-primary font-bold">{{ item.label }}</span>
  </ng-template>

  <ng-template #item let-item>
    <a pRipple
       class="flex items-center p-menu-item-link"
       [routerLink]="item.routerLink"
       routerLinkActive="active"
       *ngIf="!item.items; else hasChildren">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
      <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
      <span *ngIf="item.shortcut" class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">
        {{ item.shortcut }}   
      </span>
    </a>

    <ng-template #hasChildren>
      <span class="flex items-center p-menu-item-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </span>
    </ng-template>
  </ng-template>
</p-menu>
