<div class="card-body">

  <h1 style="text-align: center; font-weight: bold; font-size: 2rem; margin:60px;">
    Welcome to HireMind Management System
  </h1>

  <div class="d-flex justify-content-center align-items-center" style="height: 70vh; width: 1500px;">
    <div class="card d-flex flex-column p-4 rounded shadow" style="width: 1400px;">
      <h2 class="text-center mb-4">{{ isNewAccount ? "SignUp" : "Login" }}</h2>
      <div class="d-flex justify-content-center align-items-center gap-4">

        <!--Login-->
        <div *ngIf="!isNewAccount" class="card col-5 d-flex justify-content-center align-items-start  flex-column gap-2 border-0" style="margin-left:10px;">
          <div class="col-8 form-group">
            <label class="col-form-label dark-label">Username</label>
            <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-envelope"></i>
                </p-inputgroup-addon>
                <input pInputText placeholder="Enter your email" [(ngModel)]="email"/>
              </p-inputgroup>
            </div>
          </div>

          <div class="col-8 form-group">
            <label class="col-form-label dark-label">Password</label>
            <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
              <p-inputgroup>
                <input pInputText placeholder="Enter Password" [(ngModel)]="password" />
              </p-inputgroup>
            </div>
          </div>

          <div class="col-8 form-group">
            <div class="flex items-center">
              <p-checkbox name="rememberme" style="margin-right:3px; margin-left:3px;" [(ngModel)]="rememberMe"/>
              <label class="ml-2"> Remember me</label>
            </div>
          </div>

          <div class="col-8 form-group">
            <div class="flex">
              <p-button label="Login" icon="pi pi-user" severity="info" [style]="{ width: '375px' }" [(ngModel)]="rememberMe"/>
            </div>
          </div>

          <div class="col-8 form-group">
            <div class="flex">
              <p>Forgot password or can't login?<a routerLink="/resetpassword" class="reset-link"> Reset password now</a></p>
              <p><a (click)="isInfoDialog = true" class="reset-link"> How do I register?</a></p>
            </div>
          </div>
        </div>

        <!--Register New User-->
        <div *ngIf="isNewAccount" class="card col-5 d-flex justify-content-center align-items-start  flex-column gap-2 border-0" style="margin-left:10px; padding-bottom:20px">
          <form #f="ngForm" (ngSubmit)="submit(f)">
            <div class="col-12 form-group">
              <label class="col-form-label dark-label">English Name</label>
              <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
                <p-inputgroup>
                  <p-inputgroup-addon>
                    <i class="pi pi-user"></i>
                  </p-inputgroup-addon>
                  <input pInputText placeholder="Enter your English Name" minlength="3"
                         maxlength="100" name="fullName" #englishNameCtrl="ngModel" required [(ngModel)]="newUser.englishName" />
                </p-inputgroup>
              </div>
              <div class="text-danger mt-1" *ngIf="englishNameCtrl.invalid && (englishNameCtrl.touched || f.submitted)">
                <small *ngIf="englishNameCtrl.errors?.['required']">Name is required.</small>
                <small *ngIf="englishNameCtrl.errors?.['minlength']">Minimum 3 characters.</small>
                <small *ngIf="englishNameCtrl.errors?.['maxlength']">Maximum 100 characters.</small>
              </div>
            </div>

            <div class="col-12 form-group">
              <label class="col-form-label dark-label">Arabic Name</label>
              <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
                <p-inputgroup>
                  <p-inputgroup-addon>
                    <i class="pi pi-user"></i>
                  </p-inputgroup-addon>
                  <input pInputText placeholder="Enter your Full Name" minlength="3"
                         maxlength="100" name="arabicName" #arabicNameCtrl="ngModel" required [(ngModel)]="newUser.arabicName" />
                </p-inputgroup>
              </div>
              <div class="text-danger mt-1" *ngIf="arabicNameCtrl.invalid && (arabicNameCtrl.touched || f.submitted)">
                <small *ngIf="arabicNameCtrl.errors?.['required']">Name is required.</small>
                <small *ngIf="arabicNameCtrl.errors?.['minlength']">Minimum 3 characters.</small>
                <small *ngIf="arabicNameCtrl.errors?.['maxlength']">Maximum 100 characters.</small>
              </div>
            </div>

            <div class="col-12 form-group">
              <label class="col-form-label dark-label">Email</label>
              <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
                <p-inputgroup>
                  <p-inputgroup-addon>
                    <i class="pi pi-envelope"></i>
                  </p-inputgroup-addon>
                  <input pInputText
                         type="email"
                         name="email"
                         required
                         email
                         maxlength="150"
                         placeholder="Enter your email"
                         #emailCtrl="ngModel"
                         [(ngModel)]="newUser.email" />
                </p-inputgroup>
              </div>
              <div class="text-danger mt-1" *ngIf="emailCtrl.invalid && (emailCtrl.touched || f.submitted)">
                <small *ngIf="emailCtrl.errors?.['required']">Email is required.</small>
                <small *ngIf="emailCtrl.errors?.['email']">Invalid email format.</small>
                <small *ngIf="emailCtrl.errors?.['maxlength']">Maximum 150 characters.</small>
              </div>
            </div>

            <div class="col-12 form-group">
              <label class="col-form-label dark-label">Phone Number</label>
              <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
                <p-inputgroup>
                  <input pInputText placeholder="Enter your phone number" name="mobile" pattern="^[0-9]{8,15}$" #numberCtrl="ngModel" required [(ngModel)]="newUser.mobile" />
                </p-inputgroup>
              </div>
              <div class="text-danger mt-1" *ngIf="numberCtrl.invalid && (numberCtrl.touched || f.submitted)">
                <small *ngIf="numberCtrl.errors?.['required']">Mobile number is required.</small>
                <small *ngIf="numberCtrl.errors?.['pattern']">
                  Mobile must contain only numbers (8–15 digits).
                </small>
              </div>
            </div>

            <div class="col-12 form-group">
              <label class="col-form-label dark-label">Password</label>
              <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
                <p-inputgroup>
                  <p-password name="password"
                              required
                              pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*(),.?&quot;:{}|<>]).{8,50}$"
                              placeholder="Enter password"
                              #passwordCtrl="ngModel"
                              [(ngModel)]="newUser.password"
                              [toggleMask]="true" autocomplete="off" />
                </p-inputgroup>
              </div>
              <div class="text-danger mt-1"
                   *ngIf="passwordCtrl.invalid && (passwordCtrl.touched || f.submitted)">

                <small *ngIf="passwordCtrl.errors?.['required']">
                  Password is required.
                </small>

                <small *ngIf="passwordCtrl.errors?.['minlength']">
                  Password must be at least 8 characters.
                </small>

                <small *ngIf="passwordCtrl.errors?.['maxlength']">
                  Password cannot exceed 50 characters.
                </small>

                <small *ngIf="passwordCtrl.errors?.['pattern']">
                  Password must contain at least:
                  1 uppercase letter, 1 number, and 1 symbol.
                </small>
              </div>
            </div>

            <div class="col-12 form-group">
              <label class="col-form-label dark-label">Confirm Password</label>
              <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
                <p-inputgroup>
                  <p-password name="confirmPassword"
                              required
                              pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*(),.?&quot;:{}|<>]).{8,50}$"
                              placeholder="Confirm password"
                              #confirmPasswordCtrl="ngModel"
                              [(ngModel)]="newUser.confirmPassword"
                              [toggleMask]="true" autocomplete="off" />
                </p-inputgroup>
              </div>
              <div class="text-danger mt-1"
                   *ngIf="(confirmPasswordCtrl.touched || f.submitted)">

                <small *ngIf="confirmPasswordCtrl.errors?.['required']">
                  Confirm password is required.
                </small>

                <small *ngIf="confirmPasswordCtrl.errors?.['pattern']">
                  Password must contain uppercase letter, number and symbol.
                </small>

                <small *ngIf="newUser.password !== newUser.confirmPassword">
                  Passwords do not match.
                </small>

              </div>
            </div>

            <div class="col-12 form-group">
              <div class="flex" style="margin-top:10px;">
                <p-button label="Create Account" icon="pi pi-user-plus" severity="info" [disabled]="f.invalid" type="submit" [style]="{ width: '375px' }" />
              </div>
            </div>
          </form>
        </div>

        <p-divider layout="vertical" class="!hidden md:!flex" style="height: auto; align-self: stretch;">
          <label style="font-size: 1.5rem;">OR</label>
        </p-divider>


        <div class="card col-5 d-flex justify-content-center align-items-center flex-column gap-3 border-0">
          <p-button *ngIf="!isNewAccount" label="Sign Up" icon="pi pi-user-plus" severity="info" [style]="{ width: '350px' }" (onClick)="isNewAccount = true" />
          <p-button *ngIf="isNewAccount" label="Login" icon="pi pi-user" severity="info" [style]="{ width: '350px' }" (onClick)="isNewAccount = false" />
          <label style="font-size: 1rem;">Use another way</label>
          <p-button label="Login with Google" icon="pi pi-google" severity="danger" [style]="{ width: '350px' }" [disabled]="isNewAccount" />
          <p-button label="Login with Microsoft" icon="pi pi-microsoft" severity="contrast" [style]="{ width: '350px' }" [disabled]="isNewAccount" />
        </div>
      </div>
    </div>
  </div>

</div>

<!--How do I register dialog-->
<p-dialog header="How do I register?"
          [(visible)]="isInfoDialog"
          [modal]="true"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
          [style]="{ width: '50vw' }"
          [draggable]="false"
          [resizable]="false">

  <div style="padding:20px 30px;">
    <p style="font-size:1rem; line-height:1.8; margin:0;">
      To register in the Business Cards Management System, click on the
      <b>Sign Up</b> button on the right side of the login page.
      Fill in your Full Name, Email, Phone Number, and Password, then click
      <b>Create Account</b>.

      After successful registration, you can log in using your email and password.
    </p>
  </div>

</p-dialog>
