USE [master]
GO
/****** Object:  Database [BCMS_DB]    Script Date: 11/11/2025 3:54:28 PM ******/
CREATE DATABASE [BCMS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BCMS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server2\MSSQL16.MSSQLSERVER\MSSQL\DATA\BCMS_DB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BCMS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server2\MSSQL16.MSSQLSERVER\MSSQL\DATA\BCMS_DB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BCMS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BCMS_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/11/2025 3:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessCards]    Script Date: 11/11/2025 3:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessCards](
	[Id] [uniqueidentifier] NOT NULL,
	[ArabicName] [nvarchar](max) NOT NULL,
	[EnglishName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Logo] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedByUserId] [uniqueidentifier] NULL,
	[DeleteDate] [datetime2](7) NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastModifiedByUserId] [uniqueidentifier] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[DeletedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_BusinessCards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
