.card-modern {
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.actions-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table-title {
  font-size: 1.6rem;
  color: #2196f3;
  margin: 0;
}

.search-container {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.search-input {
  min-width: 180px;
}

.modern-table .p-datatable-thead > tr > th {
  background-color: #f5f5f5;
  font-weight: 600;
  color: #333;
}

.modern-table .p-datatable-tbody > tr:hover {
  background-color: #f9fafb;
}

.modern-table td {
  vertical-align: middle;
}

.table-image {
  object-fit: cover;
  height: 75px;
  width: 75px;
  border-radius: 6px;
  cursor: pointer;
}

.color-box {
  width: 60px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.empty-message {
  text-align: center;
  padding: 20px;
  font-weight: 500;
}

/* checkbox theme */

:host ::ng-deep .p-checkbox-info .p-checkbox-box {
  --p-checkbox-border-color: #0ea5e9;
  --p-checkbox-checked-background: #0ea5e9;
  --p-checkbox-checked-border-color: #0ea5e9;
  --p-checkbox-checked-hover-background: #0b79c1;
  --p-checkbox-checked-hover-border-color: #0b79c1;
}

/* table theme */

.blue-theme-table {
  --p-paginator-nav-button-selected-background: var(--p-sky-500);
  --p-paginator-nav-button-selected-color: #fff;
  --p-paginator-nav-button-hover-background: #cfe2ff;
}


.custom-toolbar {
  padding: 0.75rem 1rem;
  border-radius: 6px;
  background: var(--surface-card);
  border: 1px solid var(--surface-border);
}
