<div class="card" style="border: 1px solid #ccc; border-radius: 8px; background-color: #fff;">
  <p-table class="blue-theme-table"
           [value]="data"
           [lazy]="true"
           (onLazyLoad)="onLazyLoad.emit($event)"
           [paginator]="true"
           [rows]="5"
           stripedRows
           [scrollable]="true" scrollHeight="550px" [resizableColumns]="true"
           [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [showCurrentPageReport]="true"
           [totalRecords]="totalRecords"
           [responsiveLayout]="'scroll'"
           [tableStyle]="{ 'min-width': '65rem' , 'background-color': '#fcf8f8d9'}"
           [selection]="!withoutImportAndExport ? selectedRows : null"
           [loading]="isLoading">

    <ng-template #caption>
      <div class="row align-items-center w-100" style="display: flex; justify-content: space-between; align-items: center; overflow: hidden;">

        <div class="col-md-6 d-flex align-items-center" style="overflow: hidden;">
          <h3 style="font-size: 1.6rem; padding-right:8px; color: #2196f3;" class="mb-0 mr-2">
            {{ title }}
          </h3>
          <p-button *ngIf="!disableCreateButton" icon="pi pi-plus" rounded [pTooltip]="'Create new'" size="small" severity="info" tooltipPosition="bottom" (click)="onAdd.emit()" />
        </div>

        <div style="max-width: fit-content; max-height: fit-content;">
          <p-toolbar *ngIf="showToolbar" class="mb-6" style="overflow: hidden;">
            <ng-template #start *ngIf="!withoutImportAndExport">
              <p-fileUpload mode="basic" accept=".csv,.xml"
                            [maxFileSize]="1000000"
                            label="Import"
                            chooseLabel="Import"
                            auto
                            customUpload
                            (uploadHandler)="fileSelected($event)"
                            [chooseButtonProps]="{ severity: 'secondary' }" />

              <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="export()" />
            </ng-template>

            <ng-template #end>
              <div class="col-12 d-flex align-items-center justify-content-end gap-2" style="overflow: hidden;">
                <p-iconField iconPosition="left" style="min-width: 150px;">
                  <p-inputIcon>
                    <i class="pi pi-search"></i>
                  </p-inputIcon>
                  <input pInputText
                         type="text"
                         [(ngModel)]="searchValue"
                         placeholder="Search..."
                         style="width: 100%;" />
                </p-iconField>
                <p-button label="Search"
                          icon="pi pi-search"
                          rounded
                          raised
                          severity="info"
                          (click)="onSearch.emit({ searchValue, dateSearch })">
                </p-button>
                <p-button label="Clear"
                          icon="pi pi-times"
                          rounded
                          raised
                          severity="secondary"
                          (click)="clearSearch()">
                </p-button>
              </div>
            </ng-template>
          </p-toolbar>
        </div>
      </div>


    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem" *ngIf="!withoutImportAndExport">
          <p-tableHeaderCheckbox class="p-checkbox-info"></p-tableHeaderCheckbox>
        </th>

        <th style="font-weight: bold;" *ngFor="let col of selectedColumns">{{ col.header }}</th>
        <th style="font-weight: bold;" *ngIf="!disableActionsButton">Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngIf="!withoutImportAndExport">
          <p-tableCheckbox [value]="rowData" class="p-checkbox-info"></p-tableCheckbox>
        </td>

        <td *ngFor="let col of selectedColumns">
          <!-- Image Column -->
          <ng-container *ngIf="col.isImage; else checkColor">
            <img [src]="defaultUserIcon"
                 alt="Logo"
                 class="w-24 rounded shadow-sm"
                 style="object-fit: cover; height: 75px;"
                 *ngIf="!rowData[col.field] || !rowData[col.field].startsWith('data:image/')" />

            <img [src]="rowData[col.field]"
                 alt="image"
                 (click)="showImage(rowData)"
                 class="w-24 rounded shadow-sm"
                 style="object-fit: cover; height: 75px;"
                 *ngIf="rowData[col.field] && rowData[col.field].startsWith('data:image/')" />
          </ng-container>

          <!-- Color Column -->
          <ng-template #checkColor>
            <ng-container *ngIf="col.isColor; else checkBoolean">
              <div [style.background]="rowData[col.field]"
                   style="width: 60px; height: 25px; border-radius: 4px; border: 1px solid #ccc;">
              </div>
            </ng-container>
          </ng-template>

          <!-- Boolean / Toggle Column -->
          <!--<ng-template #checkBoolean>
          <ng-container *ngIf="col.field === 'isActive' || col.field === 'isLocked'; else textCell">

            <ng-container *ngIf="col.field === 'isActive' &&; else textCell">
              <p-toggleswitch [(ngModel)]="rowData.isActive"
                              (onChange)="onToggleActive.emit(rowData)" />
            </ng-container>

            <ng-container *ngIf="col.field === 'isLocked';">
              <p-toggleswitch [(ngModel)]="rowData.isLocked"
                              (onChange)="onToggleLocked.emit(rowData)" />
            </ng-container>

          </ng-container>
        </ng-template>-->

          <ng-template #checkBoolean>
            <ng-container *ngIf="col.field === 'isActive' || col.field === 'isLocked'; else textCell">

              <!-- isActive -->
              <ng-container *ngIf="col.field === 'isActive'">

                <!-- إذا بدنا Toggle -->
                <ng-container *ngIf="!disableActionsButton; else activeText">
                  <p-toggleswitch [(ngModel)]="rowData.isActive"
                                  (onChange)="onToggleActive.emit(rowData)" />
                </ng-container>

                <!-- إذا disableSpecificButton = true اعرض Text -->
                <ng-template #activeText>
                  {{ rowData.isActive ? 'Active' : 'Inactive' }}
                </ng-template>

              </ng-container>

              <!-- isLocked -->
              <ng-container *ngIf="col.field === 'isLocked'">
                <p-toggleswitch [(ngModel)]="rowData.isLocked"
                                (onChange)="onToggleLocked.emit(rowData)" />
              </ng-container>

            </ng-container>
          </ng-template>

          <!-- Text / Date / Other Columns -->
          <ng-template #textCell>
            <ng-container [ngSwitch]="col.field">

              <!-- Start Date -->
              <ng-container *ngSwitchCase="'startDate'">
                {{ rowData.startDate | date:'dd/MM/yyyy HH:mm' }}
              </ng-container>

              <!-- End Date -->
              <ng-container *ngSwitchCase="'endDate'">
                {{ rowData.endDate | date:'dd/MM/yyyy HH:mm' }}
              </ng-container>

              <ng-container *ngSwitchCase="'lockedDate'">
                <ng-container *ngIf="!rowData.lockedDate">
                  {{ 'No Value' }}
                </ng-container>
                <ng-container *ngIf="rowData.lockedDate">
                  {{ rowData.lockedDate | date:'dd/MM/yyyy HH:mm' }}
                </ng-container>
              </ng-container>

              <!-- Date of Birth (if used in other pages) -->
              <ng-container *ngSwitchCase="'dateOfBirth'">
                {{ calculateAge(rowData[col.field]) }}
              </ng-container>

              <ng-container *ngSwitchCase="'gender'">
                {{ getGenderName(rowData.gender) }}
              </ng-container>

              <!-- Default Text Field -->
              <!--<ng-container *ngSwitchDefault>
              {{ rowData[col.field] ?? 'No Value' }}
            </ng-container>-->

              <ng-container *ngSwitchDefault>
                <ng-container *ngIf="rowData[col.field] as val; else noValue">
                  {{ (val + '') | slice:0:20 }}<ng-container *ngIf="(val + '').length > 20">...</ng-container>
                </ng-container>
                <ng-template #noValue>No Value</ng-template>
              </ng-container>

            </ng-container>
          </ng-template>
        </td>

        <td *ngIf="!disableSpecificButton">
          <div class="flex">
            <p-menu #menu [popup]="true" [model]="actionsModel" appendTo="body"></p-menu>

            <button pButton pRipple type="button" severity="info"
                    icon="pi pi-ellipsis-v"
                    class="p-button-rounded p-button-text"
                    (click)="toggleMenu($event, rowData)">
            </button>

          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="selectedColumns.length + (!withoutImportAndExport ? 2 : 1)">
          No record found
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorright">
      <div>
        <p-multiSelect [options]="allColumns"
                       [(ngModel)]="selectedColumns"
                       optionLabel="header"
                       display="chip"
                       selectedItemsLabel="{0} columns selected"
                       [style]="{ 'min-width': '250px' }"
                       placeholder="Select Columns">
        </p-multiSelect>
      </div>
    </ng-template>

    <ng-template pTemplate="paginatorleft">
    </ng-template>
  </p-table>
</div>
