.layout-container {
  display: flex;
  height: calc(100vh - 60px);
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  transition: width 0.1s ease;
  overflow: hidden; /* 🔥 IMPORTANT */
}

  .sidebar.collapsed {
    width: 58px;
  }

/* CONTENT */
.main-content {
  flex: 1;
  padding: 1em;
  overflow: auto;
}

.app-app-top-menu {
  display: block;
  height: 60px;
}
