<div class="page-center">
  <!--<div class="content-border">-->
  <div class="card d-flex flex-column p-4 rounded shadow" style="width: 700px;">
    <div class=" col-12 d-flex flex-column justify-content-center align-items-center gap-4" style="margin-top:20px;">
      <ng-container *ngIf="!isPasswordSaved">
        <div class="col-12 form-group">
          <h2 class="text-center mb-4">Reset Password</h2>
        </div>

        <div class="col-10 form-group">
          <label class="col-form-label dark-label">Username</label>
          <div class="grid grid-cols-1">
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-envelope"></i>
              </p-inputgroup-addon>
              <input pInputText placeholder="Enter your email" [(ngModel)]="email" [disabled]="isVerficationSent" />
            </p-inputgroup>
          </div>
        </div>

        <ng-container *ngIf="!isCorrectOTP">
          <div class="col-10 form-group" *ngIf="isVerficationSent">
            <p style="color: green;" *ngIf="!isConfirmed">
              <i class="pi pi-check-circle" style="margin-right: 8px;"></i>
              Verification Sent Successfully! Please check your email.
            </p>
            <p-inputotp [length]="6" [(ngModel)]="otp" [integerOnly]="true" (keydown.enter)="confirmVerification()" autocomplete="off" />
            <div class="text-danger" *ngIf="isInvalidOTP && otp.length < 6">
              <small>Please enter full OTP</small>
            </div>

            <p style="color: red; margin-top:10px;" *ngIf="isConfirmed">
              <i class="pi pi-times-circle" style="margin-right: 8px;"></i>
              Incorect Verification Code! Please try again.
            </p>
          </div>

          <div class="col-10 form-group">
            <div class="flex">
              <p-button label="Send Verification Code" icon="pi pi-send" severity="info" [style]="{ width: '540px' }" (onClick)="sendVerfication()" *ngIf="!isVerficationSent" [disabled]="isDisableVerficationSent"></p-button>
              <div style="display: flex; gap: 10px;">
                <p-button [label]="isResendDisabled ? 'Resend Code (' + resendCountdown + 's)' : 'Resend Verification Code'"
                          icon="pi pi-send"
                          severity="info"
                          [style]="{ width: '260px' }"
                          [disabled]="isResendDisabled"
                          *ngIf="isVerficationSent"
                          autocomplete="off"
                          (onClick)="resendVerification()">
                </p-button>

                <p-button label="Confirm Code"
                          icon="pi pi-send"
                          severity="success"
                          [style]="{ width: '260px' }"
                          *ngIf="isVerficationSent"
                          autocomplete="off"
                          [disabled]="!otp || otp.length !== 6"
                          (onClick)="confirmVerification()">
                </p-button>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="isCorrectOTP">
          <div class="col-10 form-group">
            <label class="col-form-label dark-label">Password</label>
            <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
              <p-inputgroup>
                <p-password name="password"
                            required
                            pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*(),.?&quot;:{}|<>]).{8,50}$"
                            placeholder="Enter password"
                            #passwordCtrl="ngModel"
                            [(ngModel)]="password"
                            [toggleMask]="true" autocomplete="off" />
              </p-inputgroup>
            </div>
            <div class="text-danger mt-1"
                 *ngIf="passwordCtrl.invalid && (passwordCtrl.touched)">

              <small *ngIf="passwordCtrl.errors?.['required']">
                Password is required.
              </small>

              <small *ngIf="passwordCtrl.errors?.['minlength']">
                Password must be at least 8 characters.
              </small>

              <small *ngIf="passwordCtrl.errors?.['maxlength']">
                Password cannot exceed 50 characters.
              </small>

              <small *ngIf="passwordCtrl.errors?.['pattern']">
                Password must contain at least:
                1 uppercase letter, 1 number, and 1 symbol.
              </small>
            </div>
          </div>

          <div class="col-10 form-group">
            <label class="col-form-label dark-label">Confirm Password</label>
            <div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
              <p-inputgroup>
                <p-password name="confirmPassword"
                            required
                            pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*(),.?&quot;:{}|<>]).{8,50}$"
                            placeholder="Confirm password"
                            #confirmPasswordCtrl="ngModel"
                            [(ngModel)]="confirmPassword"
                            [toggleMask]="true" autocomplete="off" />
              </p-inputgroup>
            </div>
            <div class="text-danger mt-1"
                 *ngIf="(confirmPasswordCtrl.touched)">

              <small *ngIf="confirmPasswordCtrl.errors?.['required']">
                Confirm password is required.
              </small>

              <small *ngIf="confirmPasswordCtrl.errors?.['pattern']">
                Password must contain uppercase letter, number and symbol.
              </small>

              <small *ngIf="password !== confirmPassword">
                Passwords do not match.
              </small>

            </div>
          </div>

          <p-button label="Save password" icon="pi pi-save" severity="info" [style]="{ width: '540px' }" (onClick)="saveNewPassword()"></p-button>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="isPasswordSaved">
        <i class="pi pi-check-circle"
           style="color:green; font-size: 4rem;">
        </i>

        <div class="col-12 form-group">
          <h2 class="text-center mb-4" style="color:green;">Password Reset Succsessfuly</h2>
        </div>

        <div class="col-12 form-group">
          <h5 class="text-center"><a routerLink="/login" class="reset-link"> login now</a></h5>
        </div>
      </ng-container>
    </div>
  </div>
</div>



