<div class="sidebar-container">

  <!-- HEADER -->
  <div class="sidebar-header">
    <div class="logo">
      <i class="pi pi-box"></i>
      <span class="system-header">HireMind</span>
    </div>
  </div>

  <!-- MENU -->
  <p-menu [model]="items" styleClass="sidebar-menu">

    <!-- SECTION HEADER -->
    <ng-template pTemplate="submenuheader" let-item>
      <div class="menu-section">

        <i [class]="item.icon" style="margin-right:13px;"></i>

        <span class="section-title">
          {{ item.label }}
        </span>

        <!-- TOGGLE BUTTON -->
        <i class="pi"
           [ngClass]="isCollapsed(item.label) ? 'pi-chevron-down' : 'pi-chevron-up'"
           (click)="toggleGroup(item.label)"
           style="cursor: pointer; margin-left:auto; font-size: 12px;">
        </i>

      </div>
    </ng-template>

    <!-- ITEM TEMPLATE -->
    <ng-template pTemplate="item" let-item>

      <!-- NORMAL MENU ITEM -->
      <a *ngIf="item.routerLink"
         pRipple
         class="menu-item"
         [routerLink]="item.routerLink"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
         (click)="onItemClick(item)">

        <i [class]="item.icon" style="margin-right:5px;"></i>
        <span class="label" *ngIf="!collapsed">{{ item.label }}</span>

        <p-badge *ngIf="item.badge"
                 [value]="item.badge"
                 class="ms-auto">
        </p-badge>

        <i *ngIf="item.shortcut"
           class="shortcut">
          {{ item.shortcut }}
        </i>

      </a>

      <!-- GROUP HEADER (non-clickable visual row) -->
      <div *ngIf="item.items"
           class="menu-group">

        <i [class]="item.icon"></i>
        <span>{{ item.label }}</span>

      </div>

    </ng-template>

  </p-menu>

</div>
